
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
 ::after,
 ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
     display: grid;
     justify-content: center;
     font-family: 'Poppins', sans-serif;
 }
 h2{
   text-align: center;
   color: #870052;
 }
 .container{
   position: relative;
    /* border: 2px solid red;  */
 }
 .center{
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .center div{
   width: 25px;
   height: 18px;
   margin: 0 0.5rem;
   margin-top: 3rem;
   background-color: #870052;
   border-radius: 2px;
   text-align: center;
   color: #fff;
 }
 .resend{
   text-align: center;
 }
 button{
   display: flex;
   justify-content: center;
   margin: 10rem auto;
   border: none;
   padding: 0.5rem 2rem;
   border-radius: 5px;
   color: #fff;
   font-weight: bold;
   font-size: 1rem;
   background-color: #870052;
 }
 .fa-arrow-right-long{
   margin-left: 0.5rem;
 }
 .fa-angle-left{
   margin-bottom: -4rem;
   color: #870052;
    position: absolute;
 }